<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        <li>
          <a target="_blank" href="https://github.com/harveymoons" class="button button--sacnite button--round-l">
            <i class="fab fa-github" title="Github link"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/bluemoons" class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin" title="Linkedin link"></i>
          </a>
        </li>
      </ul>
      <p>
        {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
      </p>
    </div>
  </div>
</div>
